---
import FormattedDate from '~components/formatted-date.astro';
import cn from './note-header.module.css';

interface Props {
    title: string;
    created: string;
    updated: string;
}

const { title, created, updated } = Astro.props;
---

<h1 class={cn.title}>{title}</h1>
<div class={cn.container}>
    <p>
        Created at{' '}
        <FormattedDate dateString={created} />
    </p>
    <span class={cn.separator}>||</span>
    <p>
        Updated at{' '}
        <FormattedDate dateString={updated} />
    </p>
</div>
