---
import { QUERY_FIELD_NAME } from '~constants';
import Loader from '~components/loader/linear.astro';
import Button from '~components/button/button.astro';
import Input from '~components/input/input.astro';
import cn from './search-area.module.css';

interface Props {
    query?: string;
}

const { query } = Astro.props;
---

<search-area>
    <form class={cn.container}>
        <Input
            autocomplete="off"
            class={cn.input}
            id={QUERY_FIELD_NAME}
            label="Search the notes"
            name={QUERY_FIELD_NAME}
            placeholder="Javascript, CSS grid ..."
            value={query}
        />
        <Button class={cn.button}>Search</Button>
        <div id="loader" class={cn.loader} hidden>
            <Loader />
        </div>
    </form>
</search-area>

<script>
    import { QUERY_FIELD_NAME } from '~constants';

    class SearchArea extends HTMLElement {
        formElement: HTMLFormElement | null = null;
        inputElement: HTMLInputElement | null = null;
        loaderElement: HTMLDivElement | null = null;

        constructor() {
            super();

            this.formElement = this.querySelector('form');
            this.inputElement = this.querySelector('input');
            this.loaderElement = this.querySelector('#loader');
        }

        handleKeyUp = (e: KeyboardEvent) => {
            if (e.key === '/') {
                this.inputElement?.focus();
            }
        };

        handleSearch = (e: SubmitEvent) => {
            if (this.loaderElement) {
                this.loaderElement.hidden = false;
            }

            const url = new URL(location.href);
            const query = this.inputElement?.value ?? '';

            if (query.length > 0) {
                url.searchParams.set(QUERY_FIELD_NAME, query);
            } else {
                url.searchParams.delete(QUERY_FIELD_NAME);
            }

            window.addEventListener(
                'pagehide',
                () => {
                    if (this.loaderElement) {
                        this.loaderElement.hidden = true;
                    }
                },
                { once: true },
            );

            window.location.href = url.toString();

            e.preventDefault();
        };

        connectedCallback() {
            const inputValue = this.inputElement?.value;

            if (inputValue) {
                this.inputElement?.setSelectionRange(
                    inputValue.length,
                    inputValue.length,
                );

                this.inputElement?.focus();
            }

            document.addEventListener('keyup', this.handleKeyUp);
            this.formElement?.addEventListener('submit', this.handleSearch);
        }

        disconnectedCallback() {
            document.removeEventListener('keyup', this.handleKeyUp);
            this.formElement?.removeEventListener('submit', this.handleSearch);
        }
    }

    customElements.define('search-area', SearchArea);
</script>
