---
import GlobalLayout from '~layouts/global.astro';
import Banner from '~components/banner/banner.astro';
import NotesList from '~components/notes-list/notes-list.astro';
import SearchArea from '~components/search-area/search-area.astro';
import { fetchNotes } from '~api/notes';
import * as cn from '~styles/pages/index.css';
import { QUERY_FIELD_NAME, TITLE } from '~constants';

const query = Astro.url.searchParams.get(QUERY_FIELD_NAME) ?? '';

const { notes, lines } = await fetchNotes(query);

const title = query ? `${query} | ${TITLE}` : TITLE;
---

<GlobalLayout title={title}>
    <section class={cn.container}>
        <Banner>
            Hey there. This is a place where I keep all the interesting stuff I
            come across. Feel free to explore. It is a WIP, so you can expect
            things to change.
        </Banner>
        <SearchArea query={query} />
        <NotesList lines={lines} notes={notes} baseUrl="notes" />
    </section>
</GlobalLayout>
