---
import '~styles/global.css';
import { vars } from '~styles/theme.css';
import { DESCRIPTION, SITE_URL } from '~constants';

interface Props {
    title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title } = Astro.props;
---

<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{title}</title>

<link rel="icon" href="/favicons/favicon-32x32.png" sizes="any" />

<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/favicons/apple-touch-icon.png"
/>

<link rel="manifest" href="/manifest.json" />

<meta name="description" content={DESCRIPTION} />

<meta property="og:site_name" content={title} />
<meta property="og:title" content={title} />
<meta property="og:description" content={DESCRIPTION} />
<meta property="og:image" content="/images/splash.jpg" />
<meta property="og:url" content={SITE_URL} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={SITE_URL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={DESCRIPTION} />
<meta property="twitter:image" content="/images/splash.jpg" />

<meta name="theme-color" content={vars.color.primary} />

<link rel="canonical" href={canonicalURL} />

<link
    rel="search"
    type="application/opensearchdescription+xml"
    href="/opensearch.xml"
    title="Note search"
/>
