---
import List from '~components/list/list.astro';
import ListItem from '~components/list/list-item.astro';
import FormattedDate from '~components/formatted-date.astro';
import type { Note } from '~types/notes.types';
import * as cn from './notes-list.css';

interface Props {
    notes: readonly Note[];
    lines?: Record<string, string[]>;
    baseUrl: string;
}

const { notes, lines, baseUrl } = Astro.props;
const hasNotes = notes.length > 0;
---

{
    hasNotes ? (
        <ul>
            {notes.map(({ filename, updated, title }, index) => {
                const dateId = `${index}d`;
                const textId = `${index}t`;

                return (
                    <li class={cn.item}>
                        <a
                            aria-labelledby={`${textId} ${dateId}`}
                            class={cn.link}
                            href={`/${baseUrl}/${filename}`}
                        >
                            <FormattedDate
                                dateString={updated}
                                format="DD/MM/YY"
                                id={dateId}
                                label="Last updated at"
                            />
                            <span
                                aria-label={`Notes about ${title}`}
                                class={cn.text}
                                id={textId}
                            >
                                {title}
                            </span>
                        </a>
                        {lines?.[title] && (
                            <List>
                                {lines[title].map((line) => (
                                    <ListItem key={line}>{line}</ListItem>
                                ))}
                            </List>
                        )}
                    </li>
                );
            })}
        </ul>
    ) : (
        <p class={cn.noNotes}>No notes found</p>
    )
}
