---
import List from '~components/list/list.astro';
import ListItem from '~components/list/list-item.astro';
import FormattedDate from '~components/formatted-date.astro';
import type { PartialEdgeConfigNote } from '~types/notes.types';
import './notes-list.css';

interface Props {
    notes: PartialEdgeConfigNote[];
    lines?: Record<string, string[]>;
    baseUrl: string;
}

const { notes, lines, baseUrl } = Astro.props;
const hasNotes = notes.length > 0;
---

{
    hasNotes ? (
        <ul class="list-none divide-y-2 divide-solid divide-light-border dark:divide-zinc-800">
            {notes.map(({ filename, updated, title }, index) => {
                const dateId = `${index}d`;
                const textId = `${index}t`;

                return (
                    <li>
                        <a
                            aria-labelledby={`${textId} ${dateId}`}
                            class="link"
                            href={`/${baseUrl}/${filename}`}
                        >
                            <FormattedDate
                                dateString={updated}
                                format="dd/MM/yy"
                                id={dateId}
                                label="Last updated at"
                            />
                            <span
                                aria-label={`Notes about ${title}`}
                                class="text"
                                id={textId}
                            >
                                {title}
                            </span>
                        </a>
                        {lines?.[title] && (
                            <List>
                                {lines[title].map((line) => (
                                    <ListItem key={line}>{line}</ListItem>
                                ))}
                            </List>
                        )}
                    </li>
                );
            })}
        </ul>
    ) : (
        <p class="text-center">No notes found</p>
    )
}
