---
import type { NoteFrontmatter } from '~types/notes.types';
import Link from '~components/link/link.astro';
import NoteHeader from '~components/note/note-header.astro';
import ArticleBanner from '~components/article-banner/article-banner.astro';
import GlobalLayout from '~layouts/global.astro';
import { TITLE } from '~constants';
import { articleContainer, backLink, banner, note } from './note.css';

interface Props extends NoteFrontmatter {
    hasBannerEnabled?: boolean;
    backUrl?: string;
}

const {
    title,
    created,
    updated,
    hasBannerEnabled = false,
    backUrl = '/',
} = Astro.props;

const documentTitle = `${title} | ${TITLE}`;
---

<GlobalLayout title={documentTitle}>
    <article class={articleContainer}>
        <NoteHeader title={title} created={created} updated={updated} />
        {
            hasBannerEnabled && (
                <div class={banner}>
                    <ArticleBanner />
                </div>
            )
        }
        <div class:list={['prose dark:prose-invert', note]}>
            <slot />
        </div>
        <Link href={backUrl} class={backLink}>&#x21dc; Back to home</Link>
    </article>
</GlobalLayout>
