---
import Link from '~components/link/link.astro';
import NoteHeader from '~components/note/note-header.astro';
import ArticleBanner from '~components/article-banner/article-banner.astro';
import GlobalLayout from '~layouts/global.astro';
import { getNoteData } from '~api/notes';
import { TITLE } from '~constants';
import * as cn from './note.css';

interface Props {
    collection: 'blog' | 'notes' | 'summaries';
    backUrl?: string;
}

const { slug } = Astro.params;

const NOT_FOUND_STATUS = 404;

if (!slug) {
    return Astro.rewrite(NOT_FOUND_STATUS);
}

const { collection, backUrl = '/' } = Astro.props;

const noteData = await getNoteData({ collection, slug });

if (!noteData) {
    return Astro.rewrite(NOT_FOUND_STATUS);
}

const {
    content: { Content },
    frontmatter,
} = noteData;

const { title, created, updated } = frontmatter;

const hasBannerEnabled =
    ('features' in frontmatter && frontmatter.features?.includes('banner')) ??
    false;

const documentTitle = `${title} | ${TITLE}`;
---

<GlobalLayout title={documentTitle}>
    <article class={cn.articleContainer}>
        <NoteHeader title={title} created={created} updated={updated} />
        {
            hasBannerEnabled && (
                <div class={cn.banner}>
                    <ArticleBanner />
                </div>
            )
        }
        <div class={cn.note}>
            <Content />
        </div>
        <Link href={backUrl} class={cn.backLink}>&#x21dc; Back to home</Link>
    </article>
</GlobalLayout>
